# Llave de OpenAI
OPENAI_API_KEY=<api-key>

# Nombre del modelo de embeddings
EMBEDDINGS_MODEL=text-embedding-3-small

# ChromaDB
CHROMADB_PATH=chroma_db
COLLECTION_NAME=documentos

# Logging
LOG_FOLDER=logs
LOG_CONFIG=BOTH
LOG_LEVEL=INFO

# Metricas
METRICS_FOLDER=metrics